<div class="flex items-center justify-center my-8">
  <span class="material-icons text-4xl text-blue-600">content_cut</span>
  <h6 class="ml-3 text-xl font-mono font-bold">A Link Shortener</h6>
</div>
