<div class="text-lg font-medium">
  <%= shortened_url(@shortening) %>
</div>

<div class="text-sm font-light break-all">
  Expands to <%= link(@shortening.target_url, to: @shortening.target_url, target: "_blank", class: "underline") %>.
</div>
