<div class="text-lg font-medium">
  <%= @shortening |> Shortener.Shortening.shortened_url() %>
</div>

<div class="text-sm font-light break-all">
  Expands to <%= link(@shortening.target_url, to: @shortening.target_url, class: "underline") %>.
</div>
